<ion-header-bar align-title="left" class="bar-dark">
    <div class="h1 title">案例分析</div>
    <div class="buttons">
        <button class="button no-animation button-icon icon ion-android-search"></button>
        <button class="button no-animation button-icon icon ion-android-add"></button>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
        <ion-list rj-close-back-drop>
            <ion-item class="item-avatar" rj-hold-active ng-repeat="cas in cass" ng-click="casDetail(cas)">
                <img ng-src="{{cas.pic}}">
                <span class="rj-sm-red-icon"><p ng-bind="cas.details.length"></p></span>
                <h2 ng-bind="cas.name"></h2>
                <p class="rj-list-p" ng-bind="cas.title"></p>
                <span class="rj-push-right" ng-bind="cas.desc"></span>
            </ion-item>
        </ion-list>        
    </ion-content>
</ion-view>
